/* ============================================================================== */
/* GLOBAL STYLES                                  */
/* ============================================================================== */
@import url("../../.local/state/haku_theme/colors.css");
@import url("../../.local/state/haku_theme/waybar-fonts.css");

* {
    font-weight: bold;
    border-radius: 20px;
    transition: all 1s cubic-bezier(0, 0.5, 0.35, 1);
}

window#waybar {
    background-color: transparent;
    color: @accent_color;
    transition: background-color 0.3s ease;
}

.modules-center {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 30px 30px;
    padding: 4px 20px 4px 20px;
    margin: 0 0 5px 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.modules-left {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 30px 0;
    padding: 4px 20px 4px 20px;
    margin: 0 0 5px 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.modules-right {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 0 30px;
    padding: 4px 20px 4px 20px;
    margin: 0 0 5px 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}


/* ============================================================================== */
/* COMMON MODULE STYLES                               */
/* ============================================================================== */
#custom-monitor,
#custom-settings,
#custom-logo,
#window,
#mpris,
#cava,
#custom-recorder,
#custom-notification,
#pulseaudio,
#backlight,
#pulseaudio-slider,
#backlight-slider,
#battery,
#tray,
#clock,
#power-profiles-daemon {
    margin: 1px;
    padding: 0 10px;
    min-width: 20px;
}

/* ============================================================================== */
/* WORKSPACES                                    */
/* ============================================================================== */
#hworkspaces {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#workspaces {
    padding: 2px 6px;
}

#workspaces button {
    background-color: @accent_color;
    border-radius: 999px; 
    padding: 0 6px;
    margin: 0 3px;
    min-width: 10px;
    min-height: 0;
    opacity: 0.6;
}

#workspaces button.active {
    background-color: @accent_color; 
    min-width: 40px;
    opacity: 1;
}

#workspaces button.empty {
    background-color: @accent_color;
    opacity: 0.2; 
}

#workspaces button.empty.active {
    background-color: @accent_color;
    opacity: 0.6;
}

#workspaces button.overview {
    background-color: rgba(255, 255, 255, 0.1);
    min-width: 40px;
}

/* ============================================================================== */
/* SPECIFIC MODULES                                 */
/* ============================================================================== */
#custom-recorder {
    color: @accent_color;
    border: 1px solid @accent_color;
    animation: blink 1s infinite; 
}

#custom-monitor,
#custom-settings {
    border-top: 2px solid @accent_color;
    border-radius: 0 0 20px 20px;
    margin: 0 4px 0 4px;
}

#cpu,
#memory,
#temperature {
    background-color: rgba(32, 32, 32, 0.6);
    margin: 1px;
    padding: 0 12px;
    min-width: 20px;
}

#tray {
    margin: 4px;
}

#backlight-slider slider {
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}
#backlight-slider trough {
    min-width: 60px;
    border-radius: 5px;
    background: rgba(203, 203, 203, 0.5);
}
#backlight-slider highlight {
    min-width: 10px;
    min-height: 10px;
    border-radius: 5px;
    background: @accent_color;
}

#pulseaudio-slider slider {
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}
#pulseaudio-slider trough {
    min-width: 60px;
    min-height: 10px;
    border-radius: 5px;
    background: rgba(203, 203, 203, 0.5);
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @accent_color;
}

/* ============================================================================== */
/* HOVER EFFECTS                                   */
/* ============================================================================== */
#custom-recorder:hover,
#custom-monitor:hover,
#custom-settings:hover,
#custom-logo:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#mpris:hover,
#cava:hover,
#pulseaudio:hover,
#backlight:hover,
#power-profiles-daemon:hover,
#battery:hover,
#custom-notification:hover {
    color: #000000;
    background-color: @accent_color;
    min-width: 100px;
}

#custom-monitor:hover,
#custom-settings:hover {
    border-radius: 20px;
}

#workspaces button:hover {
    min-width: 35px;
}


#clock:hover {
    color: #000000;
    background-color: @accent_color;
    min-width: 100px;
}

/* ============================================================================== */
/* TOOLTIPS                                     */
/* ============================================================================== */
tooltip {
    background: rgba(0, 0, 0, 1);
    border-radius: 12px;
    padding: 10px;
}

tooltip label {
    color: @accent_color;
}

/* ============================================================================== */
/* ANIMATIONS                                    */
/* ============================================================================== */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}