@import url("../../.local/state/haku_theme/colors.css");
@import url("../../.local/state/haku_theme/fonts.css");

.notification-row {
    transition: all 300ms ease;
    outline: none;
    margin-bottom: 1px;
    border-radius: 20px;
}

.notification {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    padding: 12px;
    color: @accent_color;
    border-bottom: 3px solid @accent_color;
}

.notification * {
    color: @accent_color;
}

.notification-content .summary {
    color: @accent_color;
    font-weight: bold;
    text-shadow: 0 0 2px @accent_color;
}

.notification-content .body {
    color: @accent_color;
}

.notification-content .time {
    color: @accent_color;
}


/* ============================================================================== */
/* =============================== CONTROL CENTER =============================== */
/* ============================================================================== */
.control-center {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 3px;
    padding: 6px;
    color: @accent_color;
}

.control-center * {
    color: @accent_color;
}

.control-center-clear-all {
    transition: all 1s ease;
    box-shadow: 4px 4px 4px #000000;
}

.control-center-dnd {
    background: @accent_color;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000000;
}


.widget-dnd > switch {
    background: @accent_color;
    border-radius: 10px;
}

.widget-dnd > switch:checked {
    background: @accent_color;
}

.widget-title {
    color: @accent_color;
    font-weight: bold;
}

.widget-label {
    color: @accent_color;
}

.widget-notifications,
.widget-notifications * {
    border-radius: 20px;
    padding: 2px;
    background: rgba(0, 0, 0, 0.05);
}

.widget-notifications {
    box-shadow: 5px 5px #000000;
}

.widget-menubar {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 8px 8px;
    margin: 20px;
    color: @accent_color;
    box-shadow: 8px 8px 8px #000000;
}

.widget-menubar > box > .menu-button-bar > .widget-menubar-container > button,
.widget-menubar > revealer button {
    min-width: 100px;
    background: @accent_color;
    border: 1px solid @accent_color;
    border-radius: 8px;
    color: #000000;
}

.widget-menubar > .menu-button-bar > .widget-menubar-container button {
    padding: 6px 36px;
}

.widget-menubar > box > .menu-button-bar > .widget-menubar-container > button:hover,
.widget-menubar > revealer button:hover {
    background: shade(@accent_color, 1.08);
    border: 1px solid shade(@accent_color, 1.08);
    border-radius: 8px;
    color: #000000;
}

.widget-menubar > box > .menu-button-bar > .widget-menubar-container > button label,
.widget-menubar > revealer button label {
    color: #000000;
}

.widget-label,
.widget-label * {
    color: @accent_color;
}

.widget-dnd,
.widget-dnd * {
    color: @accent_color;
}

.widget-volume,
.widget-volume * {
    color: @accent_color;
}

.widget-backlight,
.widget-backlight * {
    color: @accent_color;
}

.widget-volume scale trough,
.widget-backlight scale trough {
    background: rgba(255, 255, 255, 0.075);
    min-height: 8px;
    border-radius: 999px;
    padding: 4px;
}

.widget-volume scale highlight,
.widget-backlight scale highlight,
.widget-volume scale progress,
.widget-backlight scale progress {
    background: @accent_color;
    border-radius: 999px;
}

.widget-volume scale slider,
.widget-backlight scale slider {
    background: transparent;
    border: none;
    box-shadow: none;
    min-height: 0;
    min-width: 0;
    border-radius: 999px;
}

.widget-inhibitors,
.widget-inhibitors * {
    color: @accent_color;
}

.widget-buttons-grid flowboxchild > button {
    border-top: 3px solid rgba(255, 255, 255, 0.075);
    padding: 4px 25px;
    background: rgba(0, 0, 0, 0.1);
    margin: 6px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000000;
}

.widget-buttons-grid flowboxchild > button.toggle:checked {
    border-top: 3px solid @accent_color;
    background: rgba(0, 0, 0, 0.6);
}

/* Override the font size for buttons in the widget-buttons-grid */
.widget-buttons-grid flowboxchild > button label,
.widget-buttons-grid flowboxchild > button * {
    font-size: 18px;
}


/* ============================================================================== */
/* =================================== HOVER ==================================== */
/* ============================================================================== */

.control-center-clear-all:hover {
    min-width: 150px;
    transition: all 400ms ease;
    background: rgba(255, 255, 255, 0.293);
}

.control-center-dnd:hover,
.widget-dnd > switch:checked:hover,
.widget-dnd > switch:hover {
    background: rgba(255, 255, 255, 0.293);
    transition: all 400ms ease;
}
