configuration {
    modes: "drun,run,window";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    display-drun: "  Apps ";
    display-run: "  Run ";
    display-window: " 󰙀 Window ";
    sidebar-mode: true;
    window-format: "{w} | {c} | {t}";
    cycle: false;
}

//@theme "newme"
//@theme "newme"

@theme "newme"
