/* =====================================
        Rofi Theme: Haku Theme :>
 =======================================*/

@import "../../.local/state/haku_theme/rofi-style.rasi"

/* ===== GLOBAL VARIABLES ===== */
* {
    background:          rgba(0, 0, 0, 0.9);
    foreground:          #dfdfdf;
    modebar-bg:          rgba(27, 27, 27, 0.5);
    background-color:    transparent;
    text-color:          @foreground;
    
    margin:              0;
    padding:             0;
    spacing:             0;
}

/* ===== MAIN WINDOW ===== */
window {
    width:               50%;
    height:              60%;
    background-color:    @background;
    border-radius:       20px;
    padding:             20px;
}

mainbox {
    spacing:             16px;
    children:            [ inputbar, content-area ];
}

/* ===== CONTENT AREA ===== */
content-area {
    orientation:         horizontal;
    spacing:             16px;
    children:            [ mode-switcher, listview ];
}

/* ===== INPUT BAR ===== */
inputbar {
    padding:             10px;
    background-color:    rgba(0, 0, 0, 0.2);
    border-radius:       20px;
    children:            [ prompt, entry ];
}

prompt {
    padding:             10px 15px;
    background-color:    @accent;
    text-color:          @background;
    border-radius:       12px;
    font-weight:         bold;
}

entry {
    padding:             10px;
    margin:              0 10px 0 10px;
    text-color:          @accent;
    placeholder:         "Search...";
    placeholder-color:   rgba(223, 223, 223, 0.4);
}

/* ===== MODE SWITCHER ===== */
mode-switcher {
    orientation:         vertical;
    margin:              0px;
    padding:             6px;
    background-color:    transparent;
    border-radius:       12px;
    spacing:             10px;
}

button {
    padding:             8px 14px;
    margin:              8px;
    border-radius:       12px;
    background-color:    transparent;
    text-color:          @accent;
}

button selected {
    background-color:    @accent;
    text-color:          @background;
}

/* ===== LISTVIEW ===== */
listview {
    margin:              20px 20px 20px 0;
    scrollbar:           true;
    cycle:               true;
    dynamic:             true;
    layout:              vertical;
}

/* ===== ELEMENTS ===== */
element {
    padding:             10px;
    margin:              2px 10px;
    border-radius:       12px;
    orientation:         horizontal;
    vertical-align:      0.5; 
}

element-icon {
    size:                24px;
    margin:              0 10px 0 0;
    vertical-align:      0.5;
}

element-text {
    text-color:          @accent;
    vertical-align:      0.5;
}

/* ===== ELEMENT STATES ===== */
element selected {
    background-color:    @accent;
}

element-text selected {
    text-color:          @background;
}

element-icon selected {
    background-color:    transparent; 
}

/* ===== SCROLLBAR ===== */
scrollbar {
    handle-width:           6px;
    handle-color:           @accent;
    handle-rounded-corners: true;
    padding:                0px 0px 0px 6px;
}