/* ============================================================================== */
/* GLOBAL STYLES                                  */
/* ============================================================================== */
@import url("../../.local/state/haku_theme/colors.css");
@import url("../../.local/state/haku_theme/waybar-fonts.css");

* {
    font-weight: bold;
    transition: all 1s cubic-bezier(0, 0.5, 0.35, 1);
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: @accent_color;
    transition: background-color 0.3s ease;
}

.modules-left, .modules-center, .modules-right {
    border-radius: 20px;
    padding: 6px;
}

/* ============================================================================== */
/* COMMON MODULE STYLES                               */
/* ============================================================================== */
#custom-settings,
#custom-logo,
#window,
#custom-recorder,
#custom-notification,
#pulseaudio,
#backlight,
#battery,
#tray,
#clock,
#power-profiles-daemon {
    margin: 4px;
    padding: 1px;
    border-radius: 20px;
    min-height: 30px;
}

/* ============================================================================== */
/* WORKSPACES                                    */
/* ============================================================================== */
#vworkspaces {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#workspaces {
    border-radius: 999px;
    padding: 8px 2px;
    margin: 4px 0;
}

#workspaces button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    padding: 0;
    margin: 4px;
    min-width: 0;
    min-height: 0;
}

#workspaces button.active {
    background-color: @accent_color;
    padding: 12px 0;;
}

#workspaces button.empty {
    background-color: rgba(255, 255, 255, 0.04);
}

#workspaces button.empty.active {
    background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button.overview {
    background-color: @accent_color;
    min-height: 30px;
}

/* ============================================================================== */
/* SPECIFIC MODULES                                 */
/* ============================================================================== */
#clock { 
    padding: 20px 0;
}

#custom-recorder {
    color: @accent_color;
    animation: blink 1s infinite; 
}

#custom-notification {
    color: @accent_color;
    padding: 10px 0;
    margin: 0 4px 8px 0;
}

#custom-logo {
    min-height: 30px;
}

#custom-settings,
#backlight,
#pulseaudio {
    color: @accent_color;
    padding: 10px 0;
    border-left: 2px solid @accent_color;
    border-radius: 0 20px 20px 0;
}

/* ============================================================================== */
/* HOVER EFFECTS                                   */
/* ============================================================================== */
#custom-recorder:hover,
#custom-settings:hover,
#custom-logo:hover,
#clock:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#custom-notification:hover {
    color: #000000;
    background-color: @accent_color;
    min-height: 60px;
}

#custom-settings:hover,
#backlight:hover,
#pulseaudio:hover {
    border-radius: 20px;
    min-height: 70px;
}

#workspaces button:hover {
    min-height: 40px;
}

#clock:hover {
    min-height: 140px;
}

/* ============================================================================== */
/* TOOLTIPS                                     */
/* ============================================================================== */
tooltip {
    background: rgba(0, 0, 0, 1);
    border-radius: 12px;
    padding: 10px;
}

tooltip label {
    color: @accent_color;
}

/* ============================================================================== */
/* ANIMATIONS                                    */
/* ============================================================================== */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
